<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="manifest" href="/manifest.json">
    <meta property="og:title" content="ChatGPT">
    <meta property="og:image" content="https://chat.openai.com/images/chatgpt-share-og.png">
    <meta property="og:description" content="A conversational AI system that listens, learns, and challenges">
    <meta property="og:url" content="https://chat.openai.com">
    <title>ChatGPT</title>
    <meta name="next-head-count" content="8">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="{{api_prefix|safe}}">
    <link rel="preload" href="/fonts/soehne/soehne-buch.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/soehne/soehne-halbfett.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/soehne/soehne-mono-buch.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/soehne/soehne-mono-halbfett.woff2" as="font" crossorigin>
    <link rel="stylesheet" href="/styles/main.css">
    <script>
        window.__pandora_sentry = {{pandora_sentry|lower}};
        window.__api_prefix = '{{api_prefix|safe}}';
    </script>
    <script>
        try {
            const htmlElement = document.documentElement;
            const classList = htmlElement.classList;
            classList.remove('light', 'dark');

            const theme = localStorage.getItem('theme');
            if (theme ==='system' || (!theme && true)) {
                const mediaQuery = '(prefers-color-scheme: dark)';
                const matchMedia = window.matchMedia(mediaQuery);
                if (matchMedia.media!== mediaQuery || matchMedia.matches) {
                    htmlElement.style.colorScheme = 'dark';
                    classList.add('dark');
                } else {
                    htmlElement.style.colorScheme = 'light';
                    classList.add('light');
                }
            } else if (theme) {
                classList.add(theme || '');
            }
            if (theme === 'light' || theme === 'dark') {
                htmlElement.style.colorScheme = theme;
            }
        } catch (error) {
            console.error('Error setting theme:', error);
        }
    </script>
</head>
<body class="antialiased">
    <div id="app">
        <div class="main-content overflow-hidden w-full h-full relative flex z-0">
            <div class="flex-container relative flex h-full max-w-full flex-1 overflow-hidden">
                <div class="content-wrapper flex h-full max-w-full flex-1 flex-col">
                    <main class="main-section relative h-full w-full transition-width flex flex-col overflow-hidden items-stretch flex-1">
                        <div class="top-actions absolute z-10 hidden flex-col gap-2 md:flex right-3 top-3"></div>
                        <div class="flexible-content flex-1 overflow-hidden"></div>
                        <div class="bottom-info absolute bottom-0 left-0 w-full border-t md:border-t-0 dark:border-white/20 md:border-transparent md:dark:border-transparent md:bg-vert-light-gradient bg-white dark:bg-gray-800 md:!bg-transparent dark:md:bg-vert-dark-gradient pt-2">
                            <div class="info-text px-3 pb-3 pt-2 text-center text-xs text-gray-600 dark:text-gray-300 md:px-4 md:pb-6 md:pt-3">
                                <span>This service is not an official OpenAI service. Powered by <a href="https://github.com/pengzhile/pandora" target="_blank" rel="noreferrer" class="underline">Pandora</a></span>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <div class="top-overlay absolute left-0 right-0 top-0 z-[2]"></div>
    </div>
    <script id="APP_DATA" type="application/json">{{props|tojson|safe}}</script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/service-worker.js', { scope: '/' }).then(function (reg) {
                    console.log('ServiceWorker registration successful with scope: ', reg.scope);
                }).catch(function (e) {
                    console.log('ServiceWorker registration failed: ', e);
                });
            });
        }
    </script>
</body>
</html>    
