<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="manifest" href="/manifest.json">
    <meta property="og:title" content="ChatGPT">
    <meta property="og:description" content="A conversational AI system that listens, learns, and challenges">
    <meta property="og:url" content="https://chat.openai.com">
    <meta property="og:site_name" content="ChatGPT">
    <meta name="robots" content="noindex,nofollow">
    <meta property="og:image" content="/images/chatgpt-share-og.png">
    <title>ChatGPT</title>
    <meta name="next-head-count" content="11">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="{{api_prefix|safe}}">
    <link rel="preload" href="/fonts/soehne/soehne-buch.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/soehne/soehne-halbfett.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/soehne/soehne-mono-buch.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/soehne/soehne-mono-halbfett.woff2" as="font" crossorigin>
    <link rel="stylesheet" href="styles.css">
    <script>
        window.__pandora_sentry = {{pandora_sentry|lower}};
        window.__api_prefix = '{{api_prefix|safe}}';
        window.onerror = function () { return true; };
    </script>
    <script>
        try {
            const htmlElement = document.documentElement;
            const classList = htmlElement.classList;
            classList.remove('light', 'dark');
            const theme = localStorage.getItem('theme');
            if (theme ==='system' || (!theme && true)) {
                const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
                if (mediaQuery.media!== '(prefers-color-scheme: dark)' || mediaQuery.matches) {
                    htmlElement.style.colorScheme = 'dark';
                    classList.add('dark');
                } else {
                    htmlElement.style.colorScheme = 'light';
                    classList.add('light');
                }
            } else if (theme) {
                classList.add(theme);
            }
            if (theme === 'light' || theme === 'dark') {
                htmlElement.style.colorScheme = theme;
            }
        } catch (error) {
            console.error('Error setting theme:', error);
        }
    </script>
</head>

<body class="antialiased">
    <div id="app">
        <div class="top-overlay absolute left-0 right-0 top-0 z-[2]"></div>
    </div>
    <script id="app-data" type="application/json">{{props|tojson|safe}}</script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/service-worker.js', { scope: '/' })
                   .then(function (registration) {
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    })
                   .catch(function (error) {
                        console.log('ServiceWorker registration failed: ', error);
                    });
            });
        }
    </script>
</body>

</html>    
